@import "bootstrap";

body{
  background-image: url("../../resources/apartment-1851201_1920.jpg");
  z-index: -2;

}

.btn, .form-control{
  border-radius: 0;
}



.blacky {
  background-color: rgba(0, 0, 0, 0.4);
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: -1;
}

.intro {
  &:not(:target) {
    display: none;
  }

  .button-transparent{
    display: inline-flex;
    font-weight: bold;
    font-size: 1.5em;

    background-color: rgb(38, 105, 127);
    color: white;

    border: 3px rgb(38, 105, 127)solid;
    margin-top: 30px;
    margin-right: 40px;
    padding: 15px 45px;

    transition: all 300ms;

    &:hover {
      border: 3px white solid;
      text-decoration: none
    }
  }

  display: flex;
  align-items: center;
  color: white;
  height: 100vh;
  margin-left: 10vw;

  .span-parent {
    .stIntro {
      font-size: 10em;
      padding: 0 10px;
      background-color: rgba(0, 179, 238, 0.7);

    }
  }
}

.loginPage {
  &:not(:target) {
    height: 0;
    opacity: 0;
  }

  opacity: 1;
  height: 100vh;
  transition: all 600ms;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  form {
    padding: 40px;
    background-color: white;
    //border-radius: 10px;
    width: 25%;
    font-size: 2em;

    .error {
      color: red;
    }

    small {
      font-size: .5em;
    }

    button {
      font-size: 16px;
    }

    input {
      padding: 20px 15px;
    }
  }
}
