@import "../bootstrap";

body{
  margin: 0; // To avoid default margin/padding at top of the page by some browsers
  padding: 0;
  background-image: url("../../resources/apartment-1851201_1920.jpg");
  z-index: -2;
  height: 100vh; //TODO just test
  width: 100vw;

  display: flex;
  flex-direction: column;
}

.btn, .form-control{
  border-radius: 0;
}

.blacky {
  background-color: rgba(0, 0, 0, 0.4);
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: -1;
}

.navbar {


  // Overwriting default bootstrap values
  margin-bottom: 0px;
  background-color: gray;
  border: gray solid;
  border-radius: 0px;

  .my-nav-header, .my-nav-header-intro{
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-top: 5px;
    margin-right: 20px;
    font-size: 1.3em;
    float: left;
  }

  .my-nav-header-intro{
    font-weight: normal;
  }

  .my-navigation-posit{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .my-navigation{
    a{
      color: white;
      &:hover{
        cursor: pointer;
      }

      &:hover, &:focus{
        transition: all 200ms;
        color: black;
      }
    }
  }
}

.changeAppart{
  height: 80vh;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  #apartTable > *{
    &:hover{
      background-color: #dbdbdb;
      transition: all 300ms;
      cursor: pointer;
    }

  }

  form {
    transition: all 500ms;
    padding: 40px;
    background-color: white;
    width: 25%;
    font-size: 1.5em;


    .error {
      color: red;
    }

    small {
      font-size: .7em;
    }

    button {
      font-size: 16px;
    }

    input {
      padding: 20px 15px;
    }

    #backToTable{
      color: dodgerblue;
      &:hover{
        text-decoration: underline;
        color: #2e6da4;
        cursor: pointer;
      }
    }
  }
}

#map{
  flex: 1;
  height: 100vh;
}

#todo-list-layout{
  display: flex;
  flex: 1;


  #todo-creator{
    width: 100vw;
    height: 80vh;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;

    textarea{
      max-width: 21vw;
    }

    form {
      transition: all 500ms;
      padding: 40px;
      background-color: white;
      width: 25vw;
      font-size: 1.5em;
    }
    span {
      margin-top: 7px;
    }

    input {
      padding: 20px 15px;
    }

  }

  #todo-list-left{
    flex-grow: 2;
    min-width: 20vw;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    fill: white;
    align-items: center;

    #plus-symbol{
      flex: 0 0 auto;
      padding: 4px;
      width: 15vw;
      height: 15vh;

      &:hover{
         stroke: white;
        fill: gray;
        stroke-width: 2em;
      }
    }

    #bin-div{
      .bin{
        width: 15vw;
        height: 40vh;
        fill: white; stroke: white;
      }
      &:hover *{
        transform: rotate(2deg);
        fill: red; stroke: red;
      }
    }
  }

  #todo-list-right{
    flex-grow: 8;
    overflow-y: scroll;
    font-size: 1.5em;
    max-height: 93vh;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .todoCard{
      min-width: 10vw;
      padding: 10px;
      max-width: 20vw;
      word-wrap:break-word;
      background-color: yellow;
      margin: 5vh 5vw;

      span{
        color: blue;
        font-style: italic;
      }

    }
  }


}