@import "../bootstrap";

body{
  margin: 0; // To avoid default margin/padding at top of the page by some browsers
  padding: 0;
  background-image: url("../../resources/apartment-1851201_1920.jpg");
  z-index: -2;
  height: 100vh; //TODO just test
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.btn, .form-control{
  border-radius: 0;
}

.blacky {
  background-color: rgba(0, 0, 0, 0.4);
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: -1;
}

.navbar {


  // Overwriting default bootstrap values
  margin-bottom: 0px;
  background-color: gray;
  border: gray solid;
  border-radius: 0px;

  .my-nav-header, .my-nav-header-intro{
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-top: 5px;
    margin-right: 20px;
    font-size: 1.3em;
    float: left;
  }

  .my-nav-header-intro{
    font-weight: normal;
  }

  .my-navigation-posit{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .my-navigation{
    a{
      color: white;
      &:hover{
        cursor: pointer;
      }

      &:hover, &:focus{
        transition: all 200ms;
        color: black;
      }
    }
  }
}

.changeAppart{
  height: 80vh;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  #apartTable > *{
    &:hover{
      background-color: #dbdbdb;
      transition: all 300ms;
      cursor: pointer;
    }

  }

  form {
    transition: all 500ms;
    padding: 40px;
    background-color: white;
    width: 25%;
    font-size: 1.5em;


    .error {
      color: red;
    }

    small {
      font-size: .7em;
    }

    button {
      font-size: 16px;
    }

    input {
      padding: 20px 15px;
    }

    #backToTable{
      color: dodgerblue;
      &:hover{
        text-decoration: underline;
        color: #2e6da4;
        cursor: pointer;
      }
    }
  }
}

//.map-parent{
//  display: flex;
//  flex-direction: column;
//}

#map{
  //width:600px;
  //height:400px;
  flex: 1;
  //flex-flow: column;
  //overflow: auto;

  height: 100vh;
  //width: 100vw;

  //flex-direction: column;
}